/* General style */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.signup-button {
    background-color: #3882F6;
    width: 85px;
    height: 30px;
    border: 0;
    color: white;
    border-radius: 6px;
    padding: 3px 6px;
    font-weight: 600;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 10px 250px 100px 250px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#header-logo, #hero-main {
    color: #F9FAF8;
}

#header-logo {
    font-size: 24px;
}

#hero-main {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

.header-main p {
    margin-top: 0;
}

nav ul li a, .header-main p {
    font-size: 18px;
    color: #E4E7EB;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}

.header-content {
    width: 500px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    width: 550px;
    height: 250px;
    font-size: 15px;
}

/* Random information */
.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 130px;
}

#random-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.illustration-placeholder {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 10px; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    font-size: 18px;
}

.card-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 70px;
    margin-top: 30px;
}


footer {
    background-color: red;
}